<div class="three-column-row">
  <div class="chart-container">
    <h3>Peticiones por tipo</h3>
    <div class="chart" id="issues-by-tracker"></div>
  </div>
  <div class="chart-container">
    <h3>Peticiones por estado</h3>
    <div class="chart" id="issues-by-status"></div>
  </div>
  <div class="chart-container">
    <h3>Peticiones por prioridad</h3>
    <div class="chart" id="issues-by-priority"></div>
  </div>
</div>
<div class="two-column-row">
  <div class="chart-container">
    <h3>Time log</h3>
    <div class="chart" id="timelog">
      <table class="list">
        <thead>
          <th>Usuario</th>
          <th>Horas</th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= link_to @time_entries[user.id], report_project_time_entries_path(@project) %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="odd">
            <td>Total</td>
            <td><%= @time_entries.values.sum %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    Charts.createDonut({
      selector: '#issues-by-tracker',
      text: 'Peticiones por tipo',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@issues_by_tracker).to_json.html_safe %>)
    });

    Charts.createDonut({
      selector: '#issues-by-status',
      text: 'Peticiones por estado',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@issues_by_status).to_json.html_safe %>)
    });

    Charts.createDonut({
      selector: '#issues-by-priority',
      text: 'Peticiones por prioridad',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@issues_by_priority).to_json.html_safe %>)
    });
  });
</script>