<div id="filter_nav">
  <p class="left">
    <%= select_tag 'filter_by[value]', options_for_select(company_values, params[:company_id] || company_values.first.last), include_blank: true, data: { placeholder: 'Ingrese el nombre de la empresa' } %>
  </p>
  <p class="right">
    <label for="filter_by_type">View:</label>
    <select id="filter_by_type" name="filter_by[type]">
      <option value="company">Empresa</option>
      <option value="project">Proyecto</option>
    </select>
  </p>
</div>

<div id="charts_container">
  <%= render partial: 'report_dashboard/by_company' %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'chosen', :plugin => 'report_dashboard' %>
  <%= stylesheet_link_tag 'charts', :plugin => 'report_dashboard' %>
  <%= stylesheet_link_tag 'index', :plugin => 'report_dashboard' %>

  <%= javascript_include_tag 'chosen.jquery.js', :plugin => 'report_dashboard' %>
  <%= javascript_include_tag 'highcharts', :plugin => 'report_dashboard' %>
  <%= javascript_include_tag 'charts', :plugin => 'report_dashboard' %>
  <%= javascript_include_tag 'index', :plugin => 'report_dashboard' %>
<% end %>

<script type="text/javascript">
  var Filter = Filter || {};
  Filter.projects = <%= project_values.to_json.html_safe %>;
  Filter.companies = <%= company_values.to_json.html_safe %>;
</script>