<h2>Reporte total de peticiones</h2>

<div class="chart" id="issues-by-tracker"></div>
<div class="chart" id="issues-by-status"></div>
<div class="chart" id="issues-by-priority"></div>

<h2 id="by_project">Reporte por proyecto: <%= select_tag 'projects', options_from_collection_for_select(@projects, 'id', 'name') %></h2>

<div class="chart" id="project-issues-by-tracker"></div>
<div class="chart" id="project-issues-by-status"></div>
<div class="chart" id="project-issues-by-priority"></div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'charts', :plugin => 'report_dashboard' %>
  <%= javascript_include_tag 'highcharts', :plugin => 'report_dashboard' %>
  <%= javascript_include_tag 'charts', :plugin => 'report_dashboard' %>
<% end %>

<script type="text/javascript">
  $(function() {
    Charts.createDonut({
      selector: '#issues-by-tracker',
      text: 'Peticiones por tipo',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@issues_by_tracker).to_json.html_safe %>)
    });

    Charts.createDonut({
      selector: '#issues-by-status',
      text: 'Peticiones por estado',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@issues_by_status).to_json.html_safe %>)
    });

    Charts.createDonut({
      selector: '#issues-by-priority',
      text: 'Peticiones por prioridad',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@issues_by_priority).to_json.html_safe %>)
    });

    Charts.projectIssuesByTracker = Charts.createDonut({
      selector: '#project-issues-by-tracker',
      text: 'Peticiones por tipo',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@project_issues_by_tracker).to_json.html_safe %>)
    });

    Charts.projectIssuesByStatus = Charts.createDonut({
      selector: '#project-issues-by-status',
      text: 'Peticiones por estado',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@project_issues_by_status).to_json.html_safe %>)
    });

    Charts.projectIssuesByPriority = Charts.createDonut({
      selector: '#project-issues-by-priority',
      text: 'Peticiones por prioridad',
      mainSeriesName: 'Peticiones',
      extraSeriesName: 'Peticiones',
      data: Charts.donut_data(<%= donut_data(@project_issues_by_priority).to_json.html_safe %>)
    });

    $('#projects').on('change', function() {
      var id = $(this).val();

      var request = $.get('/report_dashboard/' + id);
      request.done(function(data) {
        console.log(data);
        data.project_issues_by_tracker = Charts.donut_data(data.project_issues_by_tracker);
        data.project_issues_by_status = Charts.donut_data(data.project_issues_by_status);
        data.project_issues_by_priority = Charts.donut_data(data.project_issues_by_priority);

        Charts.projectIssuesByTracker.series[0].setData(data.project_issues_by_tracker.mainData);
        Charts.projectIssuesByTracker.series[1].setData(data.project_issues_by_tracker.extraData);
        Charts.projectIssuesByTracker.redraw();

        Charts.projectIssuesByStatus.series[0].setData(data.project_issues_by_status.mainData);
        Charts.projectIssuesByStatus.series[1].setData(data.project_issues_by_status.extraData);
        Charts.projectIssuesByStatus.redraw();

        Charts.projectIssuesByPriority.series[0].setData(data.project_issues_by_priority.mainData);
        Charts.projectIssuesByPriority.series[1].setData(data.project_issues_by_priority.extraData);
        Charts.projectIssuesByPriority.redraw();
      });
    });
  });
</script>