<h2>Log total de horas</h2>

<% @users.each do |user| %>
  <h3><%= user.name %></h3>
  <table class="list">
    <thead>
      <th>Proyecto</th>
      <th>Horas</th>
    </thead>
    <tbody>
      <% @time_entries[user.id].each do |project_id, hours| %>
        <tr>
          <td class="subject"><%= link_to @projects[project_id].name, project_path(@projects[project_id]), target: 'blank' %></td>
          <td><%= link_to hours, report_project_time_entries_path(@projects[project_id]) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr class="odd">
        <td>Total</td>
        <td><%= @time_entries[user.id].values.sum %></td>
      </tr>
    </tfoot>
  </table>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'charts', :plugin => 'report_dashboard' %>
<% end %>